In [16]:
pip install jupysql --upgrade

Collecting jupysql
  Downloading jupysql-0.10.17-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.12.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from jupysql) (2.0.37)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.1.5)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.11/dist-packages (from jupysql) (25.1.0)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.26-py3-none-any.whl.metadata (527 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.8.3-py2.py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->jupysql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.17.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.12.14)
Downloading jupysql-0.10.17-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 2.7 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 8.6 MB/s eta 0:00:00
Downloading ploomber_core-0.2.26-py3-none-any.whl (22 kB)
Downloading posthog-3.8.3-py2.py3-none-any.whl (64 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.7/64.7 kB 4.8 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.17 jupysql-plugin-0.4.5 monotonic-1.6 ploomber-core-0.2.26 posthog-3.8.3

In [17]:
%load_ext sql

In [18]:
%sql sqlite:///data/basic_examples.db --alias sqlite

RuntimeError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%sql duckdb:///data/example_duck.db --alias duckdb

In [ ]:
%%sql
SELECT * FROM Dragon;

In [ ]:
%%sql
SELECT *
FROM Dragon;

In [ ]:
import sqlalchemy
import pandas as pd

engine = sqlalchemy.create_engine("duckdb:///data/example_duck.db")

In [ ]:
query = """
SELECT *
FROM Dragon;
"""

df = pd.read_sql(query, engine)
df

In [ ]:
import seaborn as sns
mpg = sns.load_dataset("mpg")

In [ ]:
%%sql
SELECT * FROM mpg

In [ ]:
%%sql
SELECT * FROM information_schema.tables

In [ ]:
%%sql
SELECT * FROM information_schema.columns

In [ ]:
pd.options.display.max_colwidth = None
pd.options.display.max_rows = None
pd.read_sql("SELECT * FROM sqlite_schema", "duckdb:///data/example_duck.db")

In [ ]:
from sqlalchemy import inspect
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
inspector.get_columns('scene')

In [ ]:
sqlite_engine = sqlalchemy.create_engine("sqlite:///data/basic_examples.db")
inspect(sqlite_engine).get_columns("scene")

In [ ]:
%%sql

DROP TABLE IF EXISTS grade;
DROP TABLE IF EXISTS assigment;
DROP TABLE IF EXISTS student;

CREATE TABLE student (
  student_id INTEGER PRIMARY KEY,
  name VARCHAR,
  email VARCHAR
);

CREATE TABLE grade (
  student_id INTEGER,
  assigment_id INTEGER,
  score REAL CHECK (score > 0 AND score <= 100),
  FOREIGN KEY (student_id) REFERENCES student(student_id),
  FOREIGN KEY (assignment_id) REFERENCES assignment(assignment_id)
);

INSERT INTO student VALUES
(123, 'J', 'j@berkeley.edu'),
(456, 'N', 'n@berkeley.edu');

INSERT INTO assignment VALUES
(1, 'easy assignment'),
(2, 'hard assignment');

In [ ]:
%%sql
INSERT INTO grade VALUES
(123,1,80),
(123,2,42),
(456,2,100);

In [ ]:
%sql SELECT * FROM grade;

In [ ]:
%%sql
SELECT * FROM Dragon;

In [ ]:
%%sql
SELECT cute, year FROM Dragon;

In [ ]:
%%sql
SELECT cute AS cuteness,
  year AS "birth year"
FROM Dragon;

In [ ]:
%%sql
SELECT DISTINCT year
FROM Dragon;

In [ ]:
%%sql
SELECT name, year
FROM Dragon
WHERE cute > 0;

In [ ]:
%%sql
SELECT name, cute, year
FROM Dragon
WHERE cute > 0 OR year > 2013;

In [ ]:
%%sql
SELECT name, year
FROM Dragon
WHERE name IN ('puff', 'hiccup');

In [ ]:
%%sql
SELECT name, cute
FROM Dragon
WHERE cute IS NOT NULL;

In [ ]:
%%sql
SELECT *
FROM Dragon
ORDER BY cute DESC;

In [ ]:
%%sql
SELECT *
FROM Dragon
LIMIT 2;

In [ ]:
%%sql
SELECT *
FROM Dragon
LIMIT 2
OFFSET 1;

In [ ]:
%%sql
SELECT *
FROM Dragon
ORDER BY RANDOM()
LIMIT 2

In [ ]:
%%sql
SELECT *
FROM Dragon USING SAMPLE reservoir(2 ROWS) REPEATABLE (100);

In [ ]:
%%sql
SELECT *
FROM Dish;

In [ ]:
%%sql
SELECT type
FROM Dish;

In [ ]:
%%sql
SELECT type
FROM Dish
GROUP BY type;

In [ ]:
%%sql
SELECT type, SUM(cost)
FROM Dish
GROUP BY type;

In [ ]:
%%sql
SELECT type,
  SUM(cost),
  MIN(cost),
  MAX(name)
FROM Dish
GROUP BY type;

In [ ]:
%%sql
SELECT year, COUNT(cute)
FROM Dragon
GROUP BY year;

In [ ]:
%%sql
SELECT year, COUNT(*)
FROM Dragon
GROUP BY year;

In [ ]:
%sql SELECT * FROM Dragon

In [ ]:
dragon_table = %sql SELECT * FROM Dragon
dragon_table

In [ ]:
type(dragon_table)

In [ ]:
dragon_df = dragon_table.DataFrame()
dragon_df

In [ ]:
%config SqlMagic.autopandas = True

In [ ]:
dragon_df = %sql SELECT * FROM Dragon
dragon_df

In [ ]:
type (dragon_df)

In [ ]:
%%sql
SELECT year, COUNT(*)
FROM Dragon
GROUP BY year;

In [ ]:
%%sql dragon_years <<
SELECT year, COUNT(*)
FROM Dragon
GROUP BY year;

In [ ]:
dragon_years